.empty-cart {
  width: 100%;
  height: calc(100% - 64px);

  p {
    font-weight: lighter;
    font-size: 2em;
  }
}

.cart-wrapper {
  background-color: #FBFBFB;
}

.product-list {
  padding: 20px;
}

.checkout {
  position: relative;

  app-checkout {
    position: fixed;
    top: 75px;
  }
}

.checkout-complete {
  height: 90vh;
  width: 100vw;

  h2 {
    mat-icon {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}
