.product-image {
  cursor: pointer;
  width: 450px;
  height: 600px;

  img {
    width: 100%;
    height: 100%;
  }
}

.product-details {
  h2 {
    font-weight: 500;
    margin: 0;
  }

  p {
    font-size: 1.1em;

    &.qty {
      margin-top: 0;

      span {
        font-weight: 500;
      }
    }
  }
}
