<div class="card-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="product-image" (click)="onGoToDetail()">
    <img [src]="product.url" alt="Product Image">
  </div>
  <div class="product-details" fxLayout="column" fxLayoutAlign="center center">
    <h2>{{ product.name }}</h2>
    <p *ngIf="isDialog && !isList">{{ product.description }}</p>
    <p>{{ product.price | currency }}</p>
    <p *ngIf="product?.quantity" class="qty"><span>Items in cart: </span>{{ product?.quantity }}</p>
  </div>
</div>
