.product-img {
  width: 450px;
  height: 500px;
  margin-bottom: 24px;

  img {
    width: 450px;
    height: 500px;
    border-radius: 5px;
  }
}

p {
  font-weight: lighter;
  font-size: 1.1em;
}

.product-actions {
  mat-form-field {
    width: 45%;
  }

  button {
    margin-bottom: 17px;
  }
}
